  {% extends 'common.html' %}
  {% load static %}
  
  
  {% block css %}
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  {% endblock %}  
  {% block nav %}
  <div class="container-fluid w-80">
    <a class="navbar-brand text-white font" id="Logo" href="{% url 'authorization:home' %}">MedEasy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="#" role="button">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#about" role="button">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#services" role="button">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#contact" role="button">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white fw-bold" href="{% url 'authorization:log_in' %}" role="button" style="background-color: transparent; border: 2px solid #ffffff; padding: 5px 15px; border-radius: 5px; transition: all 0.3s;">Login</a>
        </li>
      </ul>
    </div>
  </div>
  {% endblock nav %}
  


  {% block content %}
  <main>
    <section id="hero" class="hero section light-background">

        <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">
  
        <div class="container position-relative">
  
          <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
            <h2>WELCOME TO MedEasy</h2>
            <p>MedEasy is used to digitalize hospital management system.</p>
          </div><!-- End Welcome -->
  
          <div class="content row gy-4">
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
                <h3>Why Choose MedEasy?</h3>
                <p>
                    MedEasy is an innovative website and digital platform that is well crafted to digitalize hospital managment system. 
                    Our main motive is to improve the efficiency of hospital administration and enhance patient care. 
                </p>
                <div class="text-center">
                  <a href="#about" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                </div>
              </div>
            </div><!-- End Why Box -->
  
            <div class="col-lg-8 d-flex align-items-stretch">
              <div class="d-flex flex-column justify-content-center">
                <div class="row gy-4">
  
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                      <i class="bi bi-clipboard-data"></i>
                      <h4>Electronic Health Records (EHR)</h4>
                      <p> Centralized digital records allow healthcare providers instant access to patient information, including medical history,  medications.</p>

                    </div>
                  </div><!-- End Icon Box -->
  
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                      <i class="bi bi-gem"></i>
                      <h4>Patient Engagment</h4>
                      <p>Patients can schedule appointments, access lab results which enhance convenience and engagement. 
                    </p>
                    </div>
                  </div><!-- End Icon Box -->
  
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                      <i class="bi bi-inboxes"></i>
                      <h4>Easy Billing</h4>
                      <p>Automatically calculated Bills and online payment options minimizes billing errors. It reduses the work of receptionist.</p>
                    </div>
                  </div><!-- End Icon Box -->
  
                </div>
              </div>
            </div>
          </div><!-- End  Content-->
  
        </div>
  
      </section><!-- /Hero Section -->
  
    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">
  
          <div class="row gy-4 gx-5">
  
            <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
            </div>
  
            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
              <h3>About Us</h3>
              <p>
                MedEasy is a digital platform designed to streamline and enhance the hospital management system. It offers a user-friendly interface for managing various administrative and operational tasks in a healthcare setting. Here’s an overview of what MedEasy aims to provide:
              </p>
              <ul>
                <li>
                  <i class="fa-solid fa-vial-circle-check"></i>
                  <div>
                    <h5>Efficiency</h5>
                    <p> Automates repetitive tasks, freeing up staff for more critical responsibilities.</p>
                  </div>
                </li>
                <li>
                  <i class="fa-solid fa-pump-medical"></i>
                  <div>
                    <h5>Patient Engagement Tools</h5>
                    <p>Features like online lab results, appointment reminders, and secure messaging improve patient engagement and satisfaction.</p>
                  </div>
                </li>
                <li>
                  <i class="fa-solid fa-heart-circle-xmark"></i>
                  <div>
                    <h5>Enhanced Patient Care</h5>
                    <p>By maintaining a digital history of patients, MedEasy facilitates long-term health monitoring and consistent treatment across different healthcare providers.</p>
                  </div>
                </li>
              </ul>
            </div>
  
          </div>
  
        </div>
  
      </section><!-- /About Section -->


          <!-- Stats Section -->
    <section id="stats" class="stats section light-background">
  

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-solid fa-user-doctor"></i>
            <div class="stats-item">
              <span id="sdNo">{{d1_count}}</span>
              <p>Doctors</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-regular fa-hospital"></i>
            <div class="stats-item">
              <span id="spNo">
                {{dept}}
              </span>
              <p>Departments</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-flask"></i>
            <div class="stats-item">
              <span id="srNo">
                {{receptionist_count}}
              </span>
              <p>Receptionists</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-award"></i>
            <div class="stats-item">
              <span id="saNo">10</span>
              <p>Awards</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>MedEasy provides a best support for users and employees to manage data.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Heartbeat Monitoring</h3>
              </a>
              <p>In a hospital setting, heartbeat monitoring plays a crucial role in both Inpatient Department (IPD) and Outpatient Department (OPD) care.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-pills"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Medications</h3>
              </a>
              <p>Patients who are admitted to the hospital receive medications as part of their treatment plan.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Hospital Users</h3>
              </a>
              <p>In a hospital, different users interact with the Inpatient Department (IPD) and Outpatient Department (OPD) based on their roles and responsibilities. These users include doctors, receptionist, patients, and administrative staff.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-dna"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>DNA in Hospitals</h3>
              </a>
              <p>DNA (Deoxyribonucleic Acid) plays a crucial role in modern hospital diagnostics, treatments, and research. Hospitals use DNA analysis in genetic testing, disease diagnosis, forensic identification, and personalized medicine.
              </p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-wheelchair"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Wheelchairs </h3>
              </a>
              <p>Wheelchairs are essential mobility aids in hospitals, helping patients with disabilities, injuries, or mobility issues move within medical facilities.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-notes-medical"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Notes medical</h3>
              </a>
              <p>Medical notes are records written by healthcare professionals to document a patient's condition, diagnosis, treatment, and progress.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

  <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>Most Frequently asked Questions about MedEasy Hospital Management System</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

            <div class="faq-container">

              <div class="faq-item faq-active">
                <h3>What is a Hospital Management System (HMS)?</h3>
                <div class="faq-content">
                  <p>A Hospital Management System is software that automates hospital operations, including patient management, appointments, billing, prescriptions, and inventory management.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Who can use a Hospital Management System?</h3>
                <div class="faq-content">
                  <p>Hospitals, clinics, doctors, administrators, receptionists, and other healthcare professionals use HMS to manage daily operations.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>What are the benefits of using a Hospital Management System?</h3>
                <div class="faq-content">
                  <p>Reduces paperwork , Increases efficiency , Improves patient care , Enhances data security , Provides better billing </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Can doctors access patient records easily?</h3>
                <div class="faq-content">
                  <p>Yes, doctors can access patient history, prescriptions, and test results from the system securely.                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How secure is patient data in HMS?</h3>
                <div class="faq-content">
                  <p>Data is encrypted and access-controlled to ensure only authorized personnel can view or edit records.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How does the system handle patient registration?</h3>
                <div class="faq-content">
                  <p>Patients can be registered digitally, and their details (name, contact, medical history, etc.) are stored in a secure database.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div><!-- End Faq Column-->

        </div>

      </div>

    </section><!-- /Faq Section -->


    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
        <p>Some important images of our hospital</p>
      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-2.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-3.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-4.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-5.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-6.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-7.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-8.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

        </div>

      </div>

    </section><!-- /Gallery Section -->

    
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>You can contact us through this form and can also contact through our social media handles.</p>
      </div><!-- End Section Title -->


      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Location</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>


            
          <div class="col-lg-8">
          
            <form method="post" class="needs-validation" novalidate>
              <div class="row gy-4">
                  {% csrf_token %}
                  {% if contactForm %}
                      <div class="col-md-6">
                          {{ contactForm.contact_name }}
                          {% if contactForm.contact_name.errors %}
                              <div class="text-danger">
                                  {% for error in contactForm.contact_name.errors %}
                                      <p>{{ error }}</p>
                                  {% endfor %}
                              </div>
                          {% endif %}
                      </div>
          
                      <div class="col-md-6">
                          {{ contactForm.contact_email }}
                          {% if contactForm.contact_email.errors %}
                              <div class="text-danger">
                                  {% for error in contactForm.contact_email.errors %}
                                      <p>{{ error }}</p>
                                  {% endfor %}
                              </div>
                          {% endif %}
                      </div>
          
                      <div class="col-md-12">
                          {{ contactForm.contact_subject }}
                          {% if contactForm.contact_subject.errors %}
                              <div class="text-danger">
                                  {% for error in contactForm.contact_subject.errors %}
                                      <p>{{ error }}</p>
                                  {% endfor %}
                              </div>
                          {% endif %}
                      </div>
          
                      <div class="col-md-12">
                          {{ contactForm.contact_dis }}
                          {% if contactForm.contact_dis.errors %}
                              <div class="text-danger">
                                  {% for error in contactForm.contact_dis.errors %}
                                      <p>{{ error }}</p>
                                  {% endfor %}
                              </div>
                          {% endif %}
                      </div>
                  {% endif %}
          
                  <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </div>
          </form>
          
          </div><!-- End Contact Form -->

        </div>


      </div>

    </section><!-- /Contact Section -->
  </main>
{% endblock %}  
