{% extends 'common.html' %}
{% load static %}

{% block nav %}
<div class="container-fluid w-80 d-flex align-items-center justify-content-center">
    <a class="navbar-brand text-white font" id="Logo" href="{% url 'authorization:home' %}">MedEasy</a>
</div>
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <section class="section register min-vh-70 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h4 class="card-title text-center pb-0 fs-4" style="color: #1977CA !important;">Email Sent</h4>
                                    <h5>
                                        We've emailed you instructions for setting your password, if an account exists with the email you entered.
                                        You should receive them shortly.
                                    </h5>
                                    <p>
                                        If you don't receive an email, please make sure you've entered the address you registered with,
                                        and check your spam folder.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
