{% extends 'common.html' %}
{% load static %}
{% load custom_filters %}

{% block css %}
<style>
    .form-label {
        color: #1977CA !important;
    }

    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
    }

    .card-body{
        padding: 40px !important;
    }
    .help-block {
        color: #721c24;
    }

    .btn-primary {
        background-color: #1977CA;
        color: white;
        border: none;
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block nav %}
<div class="container-fluid w-80 d-flex align-items-center justify-content-center">
    <a class="navbar-brand text-white font" id="Logo" href="{% url 'authorization:home' %}">MedEasy</a>
</div>
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <section class="section register min-vh-70 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                {% if messages %}
                                <div class="alert alert-info" style="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb;">
                                    {% for message in messages %}
                                    <p>{{ message }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                {% if validlink %}
                                <h3 class="text-center mb-3 " style="color: #1977CA !important;">Change Your Password</h3>
                                <div class="formContainer d-flex justify-content-center align-items-center">
                                    <form method="post">
                                        {% csrf_token %}
                                        {% for field in form %}
                                        <div class="form-group col-12">
                                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                            {{ field|add_class:"form-control" }}
                                            {% if field.errors %}
                                            <div class="alert alert-danger">
                                                {% for error in field.errors %}
                                                <p class="help-block">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                        <!-- <br> -->
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Change Password</button>
                                        </div>
                                    </form>
                                </div>
                                {% else %}
                                <div class="alert alert-danger text-center">
                                    <p>The password reset link was invalid or has already been used.</p>
                                    <p>Please <a href="{% url 'authorization:password_reset' %}" class="btn btn-link">request a new password reset</a>.</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
